body{
    font-family: lucida;
    margin: 0;
}
h1{
   font-size: 72px; 
   text-align: center;
   color: #0E5E0D;
}
.sub-head{
    font-size: 24px;
    text-align: center;
    color: #C11010;
}
p.main-info{
text-align: center;
font-weight: bold;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    background-color: #f6fcc5;
}
nav ul li a{
color:#0E5E0D;
text-decoration: none;
padding: 15px;
display: block;
text-transform: uppercase;
font-size: 18px;
font-weight: bold;
}
nav ul li a:hover{
    padding-bottom: 9px;
    border-bottom: 3px solid #0E5E0D;
}
header nav ul{
    border: 1px solid #0E5E0D
}
footer#page-footer {
    padding:32px 0;
    margin-top: 64px;
    text-align: center;
    background-color: #f6fcc5;
    color:#0E5E0D;
}