  h1#site-title {
    color: #9C1965;
    font-family: verdana;
    font-size: 72px;
    margin-top: 0;
    text-align: center;
  }
h1#article-title {
    font-size: 48px;
    color: #9C1965;
    font-family: Verdana;
    text-align: center;
  }
  h2{
    font-family: verdana;
    color:#9C1965;
  }
      figure{
    border: 3px solid #9C1965;
    padding: 15px;
    padding-bottom: 30x;
  }
  figure img{
    width: 100%;
    Height: auto;
    margin-bottom: 15px;
  }
  figure.main-image{
    background: #E3BBD5;
    border-color:#9C1965;
    color: #9C1965;
    text-align: center;
  }
  figure.section-image{
    margin-bottom: 20px;
    max-width: 320px;
  }
  figure.section-image.odd{
    float: right;
    margin-left: 20px;
    margin-bottom:20px;
  }
  figure.section-image.even{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  p img{
    float: right;
    max-width: 50%;
    margin-left: 20px;
    margin-right: 20px;
  }
  a {
    font-weight: bold;
    color:#9C1965;
  }
  nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    border: 1px solid #9C1965;
    background-color: #E3BBD5;
    float: center;
  }
  nav ul li {
    padding: 5px;
    text-align: center;
  }
   nav ul li a:hover {
    background-color: white;
  }
  main{
    margin-left: 200px;
    margin-right: 200px;
  }