  body{
    font-family: 'Inter', sans-serif;
    font-family: verdana;
  }
  h1#site-title {
    color: #9C1965;
    font-size: 72px;
    margin-top: 0;
    text-align: center;
  }
h1#article-title {
    font-size: 48px;
    color: #9C1965;
    text-align: center;
  }
  h2{
    color:#9C1965;
  }
      figure{
    border: 3px solid #9C1965;
    padding: 15px;
    padding-bottom: 30x;
  }
  figure img{
    width: 100%;
    Height: auto;
    margin-bottom: 15px;
  }
  figure.main-image{
    background: #E3BBD5;
    border-color:#9C1965;
    color: #9C1965;
    text-align: center;
  }
  @media all and (min-width: 768px){
  figure.section-image{
    margin-bottom: 20px;
    max-width: 320px;
    }
  }
  @media all and (min-width: 768px){
  figure.section-image.odd{
    float: right;
    margin-left: 20px;
    margin-bottom:20px;
    }
  }
  @media all and (min-width: 768px){
  figure.section-image.even{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    }
  }
  p img{
    float: right;
    margin-left: 20px;
    margin-right: 20px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  a {
    font-weight: bold;
    color:#9C1965;
    text-align: center;
  }
  nav ul {
    list-style: none;
    padding-left: 0;
    background-color: #E3BBD5;
    
   }
   @media all and (min-width:376px){
    nav ul {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
   }
  nav ul li {
    padding: 5px;
    text-align: center;
  }
  nav ul li a{
    text-decoration: none;
  }
  nav ul li a:hover {
    padding-bottom: 9px;
    border-bottom: 3px solid #9C1965;
  }
  header nav ul{
    border: 1px solid #9C1965;
  }
  @media all and (min-width:768px){
  main{
    margin-left: 200px;
    margin-right: 200px;
   }
  }
  footer#page-footer {
    padding: 32px 0;
    margin-top: 64px;
    text-align: center;
    background-color: #E3BBD5;
    color: #9C1965;