h1{
    color: #de2a90;
    font-family: verdana;
    font-size: 72px;
    margin-top: 0;
    text-align: center;
  }
      figure{
    border: 3px solid black;
    padding: 15px;
    padding-bottom: 30x;
  }
  figure img{
    width: 100%;
    Height: auto;
    margin-bottom: 15px;
  }
  p img{
    float: right;
    max-width: 50%;
    margin-left: 20px;
    margin-right: 20px;
  }
  a {
    font-weight: bold;
    color: purple  
  }
  nav al {
    display: flex;
    list-style:none;
    padding-left: 0;
    border: 1px solid #de2a90;
  }
  ul li a {
    text-decoration: none;
    background-color: #fad7ee;
    padding: 10px;
    border-bottom: 1px solid #de2a90
  }
  ul li a:hover {
    text-decoration: underline;
    text-decoration: #de2a90;
  }